<div class="table-container">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <div class="input-container">
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ruth" #input>
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
  
        <!-- ID Number Column -->
        <ng-container matColumnDef="idNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID Number </th>
          <td mat-cell *matCellDef="let row" (click)="toggleExpansion(row)"> {{row.idNumber}} </td>
        </ng-container>
  
        <!-- First Name Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
          <td mat-cell *matCellDef="let row" (click)="toggleExpansion(row)"> {{row.firstName}} </td>
        </ng-container>
  
        <!-- Last Name Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
          <td mat-cell *matCellDef="let row" (click)="toggleExpansion(row)"> {{row.lastName}} </td>
        </ng-container>
  
        <!-- Start of Work Date Column -->
        <ng-container matColumnDef="startOfWorkDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Start of Work Date </th>
          <td mat-cell *matCellDef="let row" (click)="toggleExpansion(row)"> {{row.startOfWorkDate | date: 'yyyy-MM-dd'}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  
    <mat-expansion-panel *ngFor="let row of dataSource.data" [expanded]="isExpanded(row)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Additional Information
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <!-- Additional content goes here -->
      </div>
    </mat-expansion-panel>
  </div>
  