<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="logo">Employee Management App</span>
    <span class="example-spacer"></span>
    <div class="example-button-row">
        <button mat-fab extended color="primary" (click)="printTable()">
            <mat-icon>print</mat-icon>
            Print The Table
        </button>
        <button mat-fab extended color="primary" (click)="exportToExcel()">
            <mat-icon>file_download</mat-icon>
            Export To Excel
        </button>
    </div>
</mat-toolbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [opened]="isMenuOpened" class="sidenav">
        <button mat-icon-button color="primary" (click)="toggleSidebar()" class="close-button">
            <mat-icon>close</mat-icon>
        </button>
        <button mat-menu-item color="primary" (click)="openAddDialog()" class="menu-button">
            <mat-icon>person_add</mat-icon>
            <span>Add Employee</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item color="primary" (click)="openAddPositionDialog()" class="menu-button">
            <mat-icon> group_add</mat-icon>
            <span>Add Position</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item color="primary" (click)="openPositionCardsDialog()" class="menu-button">
            <mat-icon>list_alt</mat-icon>
            <span>All Positions</span>
        </button>
    </mat-sidenav>
</mat-sidenav-container>