.positions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px; 
}

h2 {
    margin-top: 20px;
    text-align: center; 
}

.custom-button {
    margin: 10px auto; 
    display: block;
}



.employee-icon {
    margin-top: 5%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    text-align: center;
    width: 150px;
    min-height: 100px;
    color: rgb(51, 34, 112);
    font-size: larger;
    margin-bottom: 2%;
}
.dialog-container {
    max-height: 70vh;
    overflow-y: auto;
}