.table-container {
    width:80%;
    overflow: auto;
    margin: 2rem auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td,
  th {
    width: 20%;
  }
  
  .actions-cell {
    white-space: nowrap;
  }
  
  .actions-cell div {
    display: flex;
    align-items: center;
  }
  
  :host ::ng-deep .mat-mdc-paginator-container {
    justify-content: space-between;
  }
  .input-container {
    display: flex;
    align-items: center;
  }
  
  .input-container input {
    flex: 1;
    width: 200%;
  }
  
  .input-container i {
    margin-left: 8px;
  }
  .form-container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    width: 100%; 
  }
  
  