.mat-toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #3f51b5;
  color: #ffffff;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.mat-icon {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.mat-icon a {
  color: inherit;
  text-decoration: none;
}

.mat-icon a:hover {
  text-decoration: underline;
}