<div style="display: flex; flex-direction: column; align-items: center;">
    <h2>Add New Position</h2>
    <mat-dialog-content style="width: 300px;"> <!-- הוספתי רוחב קבוע לתוכן המודל -->
      <form [formGroup]="positionForm" (ngSubmit)="submit()" style="display: flex; flex-direction: column;">
        <mat-form-field>
          <mat-label>Position Name</mat-label>
          <input matInput formControlName="name" placeholder="Enter Position Name">
          <mat-error *ngIf="positionForm.get('name').hasError('required')">Position Name is required</mat-error>
        </mat-form-field>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions style="align-self: flex-end; margin-top: 20px;"> <!-- הכפתורים מיושרים לצד ימין -->
      <button mat-button color="warn" (click)="cancel()">Cancel</button>
      <button mat-button color="primary" (click)="submit()">Submit</button>
    </mat-dialog-actions>
  </div>
  