
h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  
    input {
      width: 100%;
    }
  
    mat-select {
      width: 100%;
    }
  }
  
  
  
  //*******************************
  // .position-form {
  //   background-color: #f0f0f0;
  //   padding: 10px;
  //   margin-bottom: 10px;
  // }
  //*************************