.page-not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .page-not-found-card {
    width: 80%;
    max-width: 400px;
    text-align: center;
  }
  