<div class="page-not-found-container">
    <mat-card class="page-not-found-card">
        <mat-card-header>
            <mat-card-title>
                <h2>Oops! Page Not Found</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Sorry, the page you are looking for could not be found.</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="returnHome()">Go to Home</button>
        </mat-card-actions>
    </mat-card>
</div>